<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <title> FOOTER </title>
</head>
<footer>
    <div class="rodape">
        <div class="caixa-fo1">
            <img src="/images/img-home/logo-azul.png">
        </div>
        <div class="caixa-fo2">
            <p>CENTRAL DE AJUDA</p>
            <nav>
                <ul class="textos">
                    <li>DÚVIDAS FREQUENTES</li>
                    <li>2ª VÍA DO BOLETO</li>
                    <li>PAGAMENTO</li> 
                </ul>
            </nav>
        </div>
        <div class="caixa-fo3">
            <p>ATENDIMENTO</p>
                <ul class="tex">
                    <li>SEGUNDA À SEXTA: 07:00 ÀS 17:00</li>
                </ul>
                <div class="logo-fo">
                    <img src="/images/img-home/Phone.png"> 
                    <p class="textos">0800 347 2347</p>
                </div>
                <div class="logo-fo">   
                    <img src="/images/img-home/Envelope.png">
                    <p class="textos">PRECISO DE AJUDA</p>
                </div>
                <div class="logo-redes">
                    <p>FIQUE CONECTADO COM A MIS</p>
                    <nav>
                        <a href="https://www.facebook.com"><img src="/images/img-home/Facebook - Negative.png"></a>
                        <a href="https://www.instagram.com"><img src="/images/img-home/Instagram - Negative.png"></a>
                        <a href="https://www.linkedin.com"><img src="/images/img-home/LinkedIn - Negative.png"></a>
                        <a href="https://www.pinterest.com"><img src="/images/img-home/Pinterest - Negative.png"></a>
                        <a href="https://www.youtube.com"><img src="/images/img-home/YouTube - Negative.png"></a>
                    </nav>
                </div>           
        </div>
        <div class="caixa-fo4">
            <p>FORMAS DE PAGAMENTO</p>
            <img src="/images/img-home/CARTÕES.png" width="80%">
        </div>
    </div>
    <div>
    </div>
</footer>