<header class="cabecalho">
    <div class="hamburguer">
        <input type="checkbox" id="checkbox-menu">
        <label for="checkbox-menu">
            <span></span>
            <span></span>
            <span></span>
        </label>
    </div>
    <div class="logo-header">
        <img src="/images/img-home/logo.png">
    </div>
    
    <div class="lupa">
        <img src="/images/img-home/LUPA.png" width=15px alt="">
        O QUE VOCÊ PROCURA
    </div>
    <div class="login">
    <div>
        ENTRE OU CADASTRE-SE
    </div>
    <div class="compras">
        <img src="/images/img-home/SACOLA DE COMPRAS.png" width=17px height=19px>
        <div>
        <p>Minha sacola</p>
        <p>0,00</p>
        </div>
    </div>
    </div>
</header>