<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <title>HEADER</title>
</head>
<header class="cabecalho">
    <div>
        <a href="/home"> <img src="/images/img-home/logo-azul.png"> </a>
    </div>
    <div class="lupa">
        <a id="link" href="/catalogo"> <img src="/images/img-home/LUPA.png" width=15px alt="">
            O QUE VOCÊ PROCURA
        </a>
    </div>
    <div class="login">
        <div>
            <a style="text-decoration:none;color: rgba(130, 130, 130, 1)" href="/catalogo" class="login2"> PRODUTOS </a>
        </div>
        <div>
            <a style="text-decoration:none;color: rgba(130, 130, 130, 1)" href="/login" class="login2">ENTRE OU CADASTRE-SE</a>
        </div>
        <div>
            <a style="text-decoration:none;color: rgba(130, 130, 130, 1)" href="/perfil" class="login2">PERFIL</a>
        </div>
        <div>
            <a style="text-decoration:none;color: rgba(130, 130, 130, 1)" href="/sacola" class="login2"> MINHA SACOLA </a>
        </div>

    </div>
</header>