<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/headerLogado.css">
    <title>HEADER</title>
</head>
<header class="cabecalho">
    <div class="logo-header">
        <a href="/home"> <img src="/images/img-home/logo-azul.png"> </a>
    </div>
    <div class="login">
        <div>
            <a href="/perfil" class="login2"> PERFIL </a>
        </div>
        <div class="compras">
            <a class="compras" href="/sacola">
                <p> MINHA SACOLA </p>
                <img src="/images/img-home/sacola.png" width=17px height=19px>
            </a>
        </div>
    </div>
</header>