<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <title>HEADER</title>
</head>
<header class="cabecalho">
    <div class="hamburguer">
        <input type="checkbox" id="checkbox-menu">
        <label for="checkbox-menu">
            <span></span>
            <span></span>
            <span></span>
        </label>
    </div>
    <div class="logo-header">
       <a href="home"><img src="/images/img-home/logo.png"></a>
    </div>
    
    <div class="lupa">
        <img src="/images/img-home/LUPA.png" width=15px alt="">
        O QUE VOCÊ PROCURA
    </div>
    <div class="login">
    <div>
        <a href="login" class="login2">ENTRE OU CADASTRE-SE</a>
    </div>
    <div>
        <div class="compras">
            <a>
            <img src="/images/img-home/sacola.png"width=17px height=19px>
            <div>
            <p>Minha sacola</p>
            </div>
            </a>
        </div>
    </div>
</header>