<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CATALOGO</title>
    <link rel="stylesheet" href="/stylesheets/styleCatalogo.css">
</head>

<body>

    <%- include("./partials/header") %>

        <nav class="secao"> Menino/ 1-4 anos/ Novidades </nav><br>
        <br>
        <main class="secoes">
            <section class="pecasPai">
                <article>
                    <img class="fotosPecas" src="/images/imgCatalogo/34.01.03.9.19.003---AM.jpg" alt="blusa amarela">
                    <h4 class="linha1">JAQUETA MENINO</h4>
                    <p class="linha2">JAQUETA MONSTRINHO - DENGOS E CIA</p>
                    <strong class="precosPecas">R$ 39,90</strong>
                </article>
                <article>
                    <img class="fotosPecas" src="/images/imgCatalogo/calca.jpg" alt="blusa amarela">
                    <h4 class="linha1">CALÇA MENINO</h4>
                    <p class="linha2">CALÇA MENINO RECORTES SUPER DUDE - BRAVA </p>
                    <strong class="precosPecas">R$ 39,90</strong>
                </article>
                <article>
                    <img class="fotosPecas" src="/images/imgCatalogo/3.jpg" alt="blusa amarela">
                    <h4 class="linha1">CALÇA MENINO</h4>
                    <p class="linha2">CALÇA MENINO RECORTES SUPER DUDE - BRAVA</p>
                    <strong class="precosPecas">R$ 49,90</strong>
                </article>
                <article>
                    <img class="fotosPecas" src="/images/imgCatalogo/4.jpg" alt="blusa amarela">
                    <h4 class="linha1">JAQUETA MENINO</h4>
                    <p class="linha2">JAQUETA RECORTE XADREZ - BRAVA</p>
                    <strong class="precosPecas">R$ 29,90</strong>
                </article>
                <article>
                    <img class="fotosPecas" src="/images/imgCatalogo/5.jpg" alt="blusa amarela">
                    <h4 class="linha1">BLUSÃO MENINO</h4>
                    <p class="linha2">BLUSÃO SUBLIMADO URBAN - BRAVA</p>
                    <strong class="precosPecas">R$ 29,90</strong>
                </article>
                <article>
                    <img class="fotosPecas" src="/images/imgCatalogo/6.jpg" alt="blusa amarela">
                    <h4 class="linha1">BLUSÃO MENINO</h4>
                    <p class="linha2">BLUSÃO DINOSSAURO INTERATIVO - DENGOS E CIA</p>
                    <strong class="precosPecas">R$ 29,90</strong>
                </article>
                <article>
                    <img class="fotosPecas" src="/images/imgCatalogo/7.jpg" alt="blusa amarela">
                    <h4 class="linha1">BLUSÃO CAPUZ MENINO</h4>
                    <p class="linha2">BLUSÃO CAPUZ E RECORTES BÁSICO - BRAVA</p>
                    <strong class="precosPecas">R$ 49,90</strong>
                </article>
                <article>
                    <img class="fotosPecas" src="/images/imgCatalogo/8.jpg" alt="blusa amarela">
                    <h4 class="linha1">BLUSÃO CAPUZ MENINO</h4>
                    <p class="linha2">BLUSÃO CAPUZ E SILK MACACO - DENGOS E CIA</p>
                    <strong class="precosPecas">R$ 29,90</strong>
                </article>
                <article>
                    <img class="fotosPecas" src="/images/imgCatalogo/22.jpg" alt="blusa amarela">
                    <h4 class="linha1">CAMISETA MENINO</h4>
                    <p class="linha2">CAMISETA LEÃO STAKE - BRAVA</p>
                    <strong class="precosPecas">R$ 39,90</strong>
                </article>
                <article>
                    <img class="fotosPecas" src="/images/imgCatalogo/23.jpg" alt="blusa amarela">
                    <h4 class="linha1">CALÇA MENINO</h4>
                    <p class="linha2">CALÇA MONSTRINHO - DENGOS E CIA</p>
                    <strong class="precosPecas">R$ 29,90</strong>
                </article>
                <article>
                    <img class="fotosPecas" src="/images/imgCatalogo/ultima.jpg" alt="blusa amarela">
                    <h4 class="linha1">JAQUETA MENINO</h4>
                    <p class="linha2">JAQUETA ADVENTURE - DENGOS E CIA</p>
                    <strong class="precosPecas">R$ 29,90</strong>
                </article>
                <article>
                    <img class="fotosPecas" src="/images/imgCatalogo/9.jpg" alt="blusa amarela">
                    <h4 class="linha1">CALÇA MENINO</h4>
                    <p class="linha2">CALÇA RECORTES - BRAVA</p>
                    <strong class="precosPecas">R$ 49,90</strong>
                </article>
                <article>
                    <img class="fotosPecas" src="/images/imgCatalogo/10.jpg" alt="blusa amarela">
                    <h4 class="linha1">BLUSÃO MENINO</h4>
                    <p class="linha2">BLUSÃO LEÃO - BRAVA</p>
                    <strong class="precosPecas">R$ 39,90</strong>
                </article>
                <article>
                    <img class="fotosPecas" src="/images/imgCatalogo/11.jpg" alt="blusa amarela">
                    <h4 class="linha1">BLUSÃO CAPUZ MENINO</h4>
                    <p class="linha2">BLUSÃO CAPUZ GIRAVA INTERATIVA - DENGOS E CIA</p>
                    <strong class="precosPecas">R$ 39,90</strong>
                </article>
                <article>
                    <img class="fotosPecas" src="/images/imgCatalogo/12.jpg" alt="blusa amarela">
                    <h4 class="linha1">BLUSÃO CAPUZ MENINO</h4>
                    <p class="linha2">BLUSÃO CAPUZ E RECORTE - DENGOS E CIA</p>
                    <strong class="precosPecas">R$ 39,90</strong>
                </article>
                <article>
                    <img class="fotosPecas" src="/images/imgCatalogo/13.jpg" alt="blusa amarela">
                    <h4 class="linha1">JAQUETA MENINO</h4>
                    <p class="linha2">JAQUETA LEÃO - DENGOS E CIA</p>
                    <strong class="precosPecas">R$ 39,90</strong>
                </article>
                <article>
                    <img class="fotosPecas" src="/images/imgCatalogo/14.jpg" alt="blusa amarela">
                    <h4 class="linha1">BLUSÃO CAPUZ MENINO</h4>
                    <p class="linha2">BLUSÃO CAPUZ FUTEBOL - BRAVA</p>
                    <strong class="precosPecas">R$ 39,90</strong>
                </article>
                <article>
                    <img class="fotosPecas" src="/images/imgCatalogo/15.jpg" alt="blusa amarela">
                    <h4 class="linha1">BLUSÃO MENINO</h4>
                    <p class="linha2">BLUSÃO LEÃO INTERATIVO - DENGOS E CIA</p>
                    <strong class="precosPecas">R$ 29,90</strong>
                </article>
                <article>
                    <img class="fotosPecas" src="/images/imgCatalogo/16.jpg" alt="blusa amarela">
                    <h4 class="linha1">BERMUDA MENINO</h4>
                    <p class="linha2">BERMUDA TACTEL - BRAVA</p>
                    <strong class="precosPecas">R$ 19,90</strong>
                </article>
                <article>
                    <img class="fotosPecas" src="/images/imgCatalogo/17.jpg" alt="blusa amarela">
                    <h4 class="linha1">JAQUETA MENINO</h4>
                    <p class="linha2">JAQUETA DUAS CORES - BRAVA</p>
                    <strong class="precosPecas">R$ 49,90</strong>
                </article>
                <article>
                    <img class="fotosPecas" src="/images/imgCatalogo/18.jpg" alt="blusa amarela">
                    <h4 class="linha1">BLUSÃO CAPUZ MENINO</h4>
                    <p class="linha2">BLUSÃO CAPUZ DINOSSAURO INTER. - DENGOS E CIA</p>
                    <strong class="precosPecas">R$ 29,90</strong>
                </article>
                <article>
                    <img class="fotosPecas" src="/images/imgCatalogo/19.jpg" alt="blusa amarela">
                    <h4 class="linha1">BLUSÃO CAPUZ MENINO</h4>
                    <p class="linha2">BLUSÃO CAPUZ DINOSSAURO - DENGOS E CIA</p>
                    <strong class="precosPecas">R$ 29,90</strong>
                </article>
                <article>
                    <img class="fotosPecas" src="/images/imgCatalogo/20.jpg" alt="blusa amarela">
                    <h4 class="linha1">BERMUDA MENINO</h4>
                    <p class="linha2">BERMUDA RECORTE - BRAVA</p>
                    <strong class="precosPecas">R$ 29,90</strong>
                </article>
                <article>
                    <img class="fotosPecas" src="/images/imgCatalogo/21.jpg" alt="blusa amarela">
                    <h4 class="linha1">BLUSÃO CAPUZ MENINO</h4>
                    <p class="linha2">BLUSÃO CAPUZ MONSTRINHO - DENGOS E CIA</p>
                    <strong class="precosPecas">R$ 29,90</strong>
                </article>
            </section>
        </main>

        <%- include("./partials/footer") %>

</body>

</html>