<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/home.css">
    <title>Mundo Infantil</title>
</head>
<body>
    <header class="cabecalho">
        <div class="hamburguer">
            <input type="checkbox" id="checkbox-menu">
            <label for="checkbox-menu">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>
        <div class="logo-header">
            <img src="../public/images/img-home/logo.png">
        </div>
        
        <div class="lupa">
            <img src="../public/images/img-home/LUPA.png" width=15px alt="">
            O QUE VOCÊ PROCURA
        </div>
        <div class="login">
        <div>
            ENTRE OU CADASTRE-SE
        </div>
        <div class="compras">
            <img src="../public/images/img-home/SACOLA DE COMPRAS.png" width=17px height=19px>
            <div>
            <p>Minha sacola</p>
            <p>0,00</p>
            </div>
        </div>
        </div>
    </header>
        <main>
            <div>
                <div class="texto-banner">
                    <p>NOVIDADES QUENTINHAS</p>
                    <p>DE INVERNO</p>
                </div>
                <buttom class="botao-banner">COMPRE AGORA</buttom>
                <img src="../public/images/img-home/BANNER PRINCIPAL.png" width="100%"> 
            </div>
            <div>
                <p class="texto-banner">1º VEZ AQUI ?</p>
                <button class="botao-banner2">CADASTRE-SE</button>
                <img class="imag" src="../public/images/img-home/1 VEZ AQUI.png" width="100%">
            </div>
                <div class="subtitulo"><p> NOVIDADES </p></div>
            <section class="novidades">
                <article class="banner"> 
                    <img class= "fotosPecas" src="../public/images/img-home/34.01.03.9.19.003---AM.jpg">
                    <div class="infosPeca"> 
                        <p class="linha1"> JAQUETA MENINO </p>
                        <p class="linha2"> JAQUETA MONSTRINHO - DENGOS E CIA </p>
                        <br>
                        <strong class="preco"> R$ 39,90 </strong>
                    </div>
                </article>
                <article class="banner"> 
                    <img class= "fotosPecas" src="../public/images/img-home/calca.jpg">
                    <div class="infosPeca"> 
                        <p class="linha1"> CALÇA MENINO </p>
                        <p class="linha2"> CALÇA MENINO RECORTES SUPER DUDE - BRAVA </p>
                        <br>
                        <strong class="preco"> R$ 39,90 </strong>
                    </div>
                </article>
                <article class="banner"> 
                    <img class= "fotosPecas" src="../public/images/img-home/3.jpg">
                    <div class="infosPeca"> 
                        <p class="linha1"> JAQUETA MENINO </p>
                        <p class="linha2"> JAQUETA SILK MANGAS - BRAVA</p>
                        <br>
                        <br>
                        <strong class="preco"> R$ 49,90 </strong>
                    </div>
                </article>
                <article class="banner"> 
                    <img class= "fotosPecas" src="../public/images/img-home/4.jpg">
                    <div class="infosPeca"> 
                        <p class="linha1"> JAQUETA MENINO </p>
                        <p class="linha2"> JAQUETA RECORTE XADREZ - BRAVA </p>
                        <br>
                        <br>
                        <strong class="preco"> R$ 49,90 </strong>
                    </div>
                </article>
                <article class="banner"> 
                    <img class= "fotosPecas" src="../public/images/img-home/ultima.jpg">
                    <div class="infosPeca"> 
                        <p class="linha1"> JAQUETA MENINO </p>
                        <p class="linha2"> JAQUETA ADVENTURE - DENGOS E CIA </p>
                        <br>
                        <strong class="preco"> R$ 29,90 </strong>
                    </div>
                </article>
            </section>
            <div class="subtitulo"><p>MAIS VENDIDOS</p></div>
            <section class="novidades">
                <article class="banner"> 
                    <img class= "fotosPecas" src="../public/images/img-home/5.jpg">
                    <div class="infosPeca"> 
                        <p class="linha1"> BLUSÃO MENINO </p>
                        <p class="linha2"> BLUSÃO SUBLIMADO URBAN - BRAVA </p>
                        <br>
                        <strong class="preco"> R$ 29,90 </strong>
                    </div>
                </article>
                <article class="banner"> 
                    <img class= "fotosPecas" src="../public/images/img-home/6.jpg">
                    <div class="infosPeca"> 
                        <p class="linha1"> BLUSÃO MENINO </p>
                        <p class="linha2"> BLUSÃO DINOSSAURO INTERATIVO - DENGOS E CIA </p>
                        <br>
                        <strong class="preco"> R$ 29,90 </strong>
                    </div>
                </article>
                <article class="banner"> 
                    <img class= "fotosPecas" src="../public/images/img-home/7.jpg">
                    <div class="infosPeca"> 
                        <p class="linha1"> BLUSÃO CAPUZ MENINO </p>
                        <p class="linha2"> BLUSÃO CAPUZ E RECORTES BÁSICO - BRAVA</p>
                        <br>
                        <strong class="preco"> R$ 49,90 </strong>
                    </div>
                </article>
                <article class="banner"> 
                    <img class= "fotosPecas" src="../public/images/img-home/8.jpg">
                    <div class="infosPeca"> 
                        <p class="linha1"> BLUSÃO CAPUZ MENINO </p>
                        <p class="linha2"> BLUSÃO CAPUZ E SILK MACACO - DENGOS E CIA </p>
                        <br>
                        <strong class="preco"> R$ 29,90 </strong>
                    </div>
                </article>
                <article class="banner"> 
                    <img class= "fotosPecas" src="../public/images/img-home/9.jpg">
                    <div class="infosPeca"> 
                        <p class="linha1"> CALÇA MENINO </p>
                        <p class="linha2"> CALÇA RECORTES - BRAVA</p>
                        <br>
                        <br>
                        <strong class="preco">R$ 29,90</strong>
                    </div>
                </article>
            </section>
            <section class="caixa-quadro">
                <img class="quadro" src="../public/images/img-home/insta 1.png" width="100%">
                <img class="quadro" src="../public/images/img-home/insta 2.png">
                <img class="quadro" src="../public/images/img-home/insta 3.png">
            </section>
        </main>
        <footer>
            <div class="rodape">
                <div class="caixa-fo1">
                    <img src="../public/images/img-home/logo.png">
                </div>
                <div class="caixa-fo2">
                    <p>INSTITUCIONAL</p>
                    <nav>
                        <ul class="textos">
                            <li>SOBRE A MIS</li>
                            <li>LOJA CONFIAVEL</li>
                            <li>POLITICA DE PRIVACIDADE</li>
                            <li>TERMOS DE USO</li>
                            <li>MAPA DO SITE</li>   
                        </ul>
                    </nav>
                </div>
                <div class="caixa-fo2">
                    <p>CENTRAL DE AJUDA</p>
                    <nav>
                        <ul class="textos">
                            <li>DÚVIDAS FREQUENTES</li>
                            <li>COMO COMPRAR</li>
                            <li>RASTREAR PEDIDO</li>
                            <li>2ª VÍA DO BOLETO</li>
                            <li>PAGAMENTO</li> 
                            <li>TROCAS E DEVOLUÇÕES</li>
                            <li>TABELA DE TAMANHOS</li>
                            <li>MEUS PEDIDOS</li>  
                        </ul>
                    </nav>
                </div>
                <div class="caixa-fo3">
                    <p>ATENDIMENTO</p>
                        <ul class="tex">
                            <li>SEGUNDA À QUINTA: 07:00 ÀS 17:00</li>
                            <li>SEXTA: 07:00 ÀS 16:00</li>
                        </ul>
                        <div class="logo-fo">
                            <img src="../public/images/img-home/Phone.png"> 
                            <p class="textos">0800 347 2347</p>
                        </div>
                        <div class="logo-fo">   
                            <img src="../public/images/img-home/Envelope.png">
                            <p class="textos">PRECISO DE AJUDA</p>
                        </div>
                        <div class="logo-redes">
                            <p>FIQUE CONECTADO COM A MIS</p>
                            <nav class="icones-redes">
                                <a href="https://www.facebook.com"><img src="../public/images/img-home/Facebook - Negative.png"></a>
                                <a href="https://www.instagram.com"><img src="../public/images/img-home/Instagram - Negative.png"></a>
                                <a href="https://www.linkedin.com"><img src="../public/images/img-home/LinkedIn - Negative.png"></a>
                                <a href="https://www.pinterest.com"><img src="../public/images/img-home/Pinterest - Negative.png"></a>
                                <a href="https://www.youtube.com"><img src="../public/images/img-home/YouTube - Negative.png"></a>
                            </nav>
                        </div>           
                </div>
                <div class="caixa-fo4">
                    <p>CERTIFICADOS</p>
                    <img src="../public/images/img-home/SELOS.png" width="55%">
                </div>
                <div class="caixa-fo4">
                    <p>FORMAS DE PAGAMENTO</p>
                    <img src="../public/images/img-home/CARTÕES.png" width="80%">
                    <form class="formulario">
                        <label>CADASTRE-SE PARA </label>
                        <input type="text" name="texto" id="texto" placeholder="SEU EMAIL AQUI">
                        <button type="submit">ENVIAR</button>
                    </form>
                </div>
            </div>
            <div>
            </div>
        </footer>
</body>
</html>