<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <title>Mundo Infantil</title>
</head>
  <body>

    <%- include("./partials/header") %>

        <main>
            <div>
                <div class="texto-banner">
                    <p>NOVIDADES QUENTINHAS</p>
                    <p>DE INVERNO</p>
                </div>
                <buttom class="botao-banner">COMPRE AGORA</buttom>
                <img src="/images/img-home/BANNER PRINCIPAL.png" width="100%"> 
            </div>
            <div>
                <p class="texto-banner">1º VEZ AQUI ?</p>
                <button class="botao-banner2">CADASTRE-SE</button>
                <img class="imag" src="/images/img-home/1 VEZ AQUI.png" width="100%">
            </div>
                <div class="subtitulo"><p> NOVIDADES </p></div>
            <section class="novidades">
                <article class="banner"> 
                    <img class= "fotosPecas" src="/images/img-home/34.01.03.9.19.003---AM.jpg">
                    <div class="infosPeca"> 
                        <p class="linha1"> JAQUETA MENINO </p>
                        <p class="linha2"> JAQUETA MONSTRINHO - DENGOS E CIA </p>
                        <br>
                        <strong class="preco"> R$ 39,90 </strong>
                    </div>
                </article>
                <article class="banner"> 
                    <img class= "fotosPecas" src="/images/img-home/calca.jpg">
                    <div class="infosPeca"> 
                        <p class="linha1"> CALÇA MENINO </p>
                        <p class="linha2"> CALÇA MENINO RECORTES SUPER DUDE - BRAVA </p>
                        <br>
                        <strong class="preco"> R$ 39,90 </strong>
                    </div>
                </article>
                <article class="banner"> 
                    <img class= "fotosPecas" src="/images/img-home/3.jpg">
                    <div class="infosPeca"> 
                        <p class="linha1"> JAQUETA MENINO </p>
                        <p class="linha2"> JAQUETA SILK MANGAS - BRAVA</p>
                        <br>
                        <br>
                        <strong class="preco"> R$ 49,90 </strong>
                    </div>
                </article>
                <article class="banner"> 
                    <img class= "fotosPecas" src="/images/img-home/4.jpg">
                    <div class="infosPeca"> 
                        <p class="linha1"> JAQUETA MENINO </p>
                        <p class="linha2"> JAQUETA RECORTE XADREZ - BRAVA </p>
                        <br>
                        <br>
                        <strong class="preco"> R$ 49,90 </strong>
                    </div>
                </article>
                <article class="banner"> 
                    <img class= "fotosPecas" src="/images/img-home/ultima.jpg">
                    <div class="infosPeca"> 
                        <p class="linha1"> JAQUETA MENINO </p>
                        <p class="linha2"> JAQUETA ADVENTURE - DENGOS E CIA </p>
                        <br>
                        <strong class="preco"> R$ 29,90 </strong>
                    </div>
                </article>
            </section>
            <div class="subtitulo"><p>MAIS VENDIDOS</p></div>
            <section class="novidades">
                <article class="banner"> 
                    <img class= "fotosPecas" src="/images/img-home/5.jpg">
                    <div class="infosPeca"> 
                        <p class="linha1"> BLUSÃO MENINO </p>
                        <p class="linha2"> BLUSÃO SUBLIMADO URBAN - BRAVA </p>
                        <br>
                        <strong class="preco"> R$ 29,90 </strong>
                    </div>
                </article>
                <article class="banner"> 
                    <img class= "fotosPecas" src="/images/img-home/6.jpg">
                    <div class="infosPeca"> 
                        <p class="linha1"> BLUSÃO MENINO </p>
                        <p class="linha2"> BLUSÃO DINOSSAURO INTERATIVO - DENGOS E CIA </p>
                        <br>
                        <strong class="preco"> R$ 29,90 </strong>
                    </div>
                </article>
                <article class="banner"> 
                    <img class= "fotosPecas" src="/images/img-home/7.jpg">
                    <div class="infosPeca"> 
                        <p class="linha1"> BLUSÃO CAPUZ MENINO </p>
                        <p class="linha2"> BLUSÃO CAPUZ E RECORTES BÁSICO - BRAVA</p>
                        <br>
                        <strong class="preco"> R$ 49,90 </strong>
                    </div>
                </article>
                <article class="banner"> 
                    <img class= "fotosPecas" src="/images/img-home/8.jpg">
                    <div class="infosPeca"> 
                        <p class="linha1"> BLUSÃO CAPUZ MENINO </p>
                        <p class="linha2"> BLUSÃO CAPUZ E SILK MACACO - DENGOS E CIA </p>
                        <br>
                        <strong class="preco"> R$ 29,90 </strong>
                    </div>
                </article>
                <article class="banner"> 
                    <img class= "fotosPecas" src="/images/img-home/9.jpg">
                    <div class="infosPeca"> 
                        <p class="linha1"> CALÇA MENINO </p>
                        <p class="linha2"> CALÇA RECORTES - BRAVA</p>
                        <br>
                        <br>
                        <strong class="preco">R$ 29,90</strong>
                    </div>
                </article>
            </section>
            <section class="caixa-quadro">
                <img class="quadro" src="/images/img-home/insta 1.png">
                <img class="quadro" src="/images/img-home/insta 2.png">
                <img class="quadro" src="/images/img-home/insta 3.png">
            </section>
        </main>

        <%- include("./partials/footer") %>
        
</body>
</html>