<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <title> IDENTIFICAÇÃO </title>
</head>
<body>
    <%- include("./partials/header-mini") %>
    <div class="box">
        <form action="/login" method="post">
            <fieldset class="caixa1">
                <legend> <b>IDENTIFICAÇÃO</b></legend>
                <br>
                <div class="identificacao">
                    <label for="email">E-MAIL: </label>
                    <input class="inputDados" type="email" name="email" id="email">
                </div>
                <br>
                <div class="identificacao">
                    <label for="senha">SENHA: </label>
                    <input class="inputDados" type="password" name="senha" id="senha">
                </div>
                <br>
                <button class="botao" type="submit"> ENTRAR </button>
            </fieldset>
            <br>
            <fieldset class="caixa2">
                <legend> <b> OU </b> </legend>
                <p> <b> NÃO POSSUI CADASTRO? </b> </p>
                <br>
                <button class="botao"> <a id="link" href="/cadastro"> CADASTRAR </a> </button></a>
            </fieldset>
        </form>
    </div>


    <%- include("./partials/footer") %> 
</body>
</html>