<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/stylesheets/op-home.css'>
    <title>OPÇÕES</title>
</head>
<body>
    <div class="caixa-opcoes">
        <div class="cx-op">
            <p class="idade-ops">1 - 4 ANOS</p>
            <hr>
            <div class="home-ops">
                <p>Novidades</p>
                <p>Conjuntos</p>
                <p>Regata</p>
                <p>Camiseta</p>
                <p>Bermuda</p>
                <p>Blusão / Jaqueta</p>
                <p>Calça</p>
            </div>
        </div>
        <div class="cx-op">
            <p class="idade-ops">4 - 10 ANOS</p>
            <hr>
            <div class="home-ops">
                <p>Novidades</p>
                <p>Conjuntos</p>
                <p>Regata</p>
                <p>Camiseta</p>
                <p>Bermuda</p>
                <p>Blusão / Jaqueta</p>
                <p>Calça</p>
            </div>
        </div>
        <div class="cx-op">
            <p class="idade-ops">12- 16 ANOS</p>
            <hr>
            <div class="home-ops">
                <p>Novidades</p>
                <p>Conjuntos</p>
                <p>Regata</p>
                <p>Camiseta</p>
                <p>Bermuda</p>
                <p>Blusão / Jaqueta</p>
                <p>Calça</p>
            </div>
        </div>
    </div>
</body>
