<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/pagamento.css">
    <title>PAGAMENTO</title>
</head>
<body>

    <%- include("./partials/header-mini") %>

    <div class="containerPai">
        <div class="primeiraColuna">
            <div class="dadosPessoais">
                <h3> <b> 1. IDENTIFICAÇÃO </b></h3>
                    <hr>
                    <br>
                    <div class="login"> 
                        <p> Já possui cadastro? Faça login </p>
                        <button class="botaoLogin"> FAZER LOGIN </button>
                    </div>
                    <p> Ou cadastre-se abaixo: </p>
                    <br>
                    <form>
                        <div class="dadosForms">
                        <label for="nome"> Nome: * </label>
                        <input class="inputDados" type="text" name="nome" id="nome" required>
                        </div>
                        <br>
                        <div class="dadosForms">
                        <label for="cpf"> CPF: * </label>
                        <input class="inputDados" type="number" name="cpf" id="cpf" required>
                        </div>
                        <br>
                        <div class="dadosForms">
                        <label for="nascimento">Nascimento: * </label>
                        <input class="inputDados" type="number" name="nascimento" id="nascimento" required>
                        </div>
                        <br>
                        <div class="dadosForms">
                        <label for="telefone"> Telefone: * </label>
                        <input class="inputDados" type="tel" name="telefone" id="telefone" required>
                        </div>
                        <br>
                        <div class="dadosForms">
                        <label for="email">E-mail: *</label>
                        <input class="inputDados" type="email" name="email" id="email" required>
                        </div>
                        <br>
                        <div class="dadosForms">
                        <label for="senha">Senha: *</label>
                        <input class="inputDados" type="password" name="senha" id="senha" required>
                        </div>
                        <br>
                        <div class="dadosForms">
                        <label for="confirmar">Confirmar senha: *</label>
                        <input class="inputDados" type="password" name="confirmar" id="confirmar" required>
                        </div>
                    </form>
            </div>
            <div class="dadosEndereco">
                <h3> <b> 2. ENDEREÇO </b> </h3>
                    <hr>
                    <br>
                    <p> Cadastrar endereço:</p>
                    <br>
                    <form>
                        <div class="dadosForms">
                        <label for="cep"> CEP: *</label>
                        <input class="inputDados" type="number" name="cep" id="cep" required>
                        </div>
                        <br>
                        <div class="dadosForms">
                        <label for="endereco"> Endereço: *</label>
                        <input class="inputDados" type="text" name="endereco" id="endereco" required>
                        </div>
                        <br>
                        <div class="dadosForms">
                        <label for="numero"> Número: *</label>
                        <input class="inputDados" type="number" name="numero" id="numero" required>
                        </div>
                        <br>
                        <div class="dadosForms">
                        <label for="complemento"> Complemento: *</label>
                        <input class="inputDados" type="text" name="complemento" id="complemento" required>
                        </div>
                        <br>
                        <div class="dadosForms">
                        <label for="referencia"> Referência: *</label>
                        <input class="inputDados" type="text" name="referencia" id="referencia" required>
                        </div>
                        <br>
                        <div class="dadosForms">
                        <label for="cidade">Cidade: *</label>
                        <input class="inputDados" type="text" name="cidade" id="cidade" required>
                        </div>
                        <br>
                        <div class="dadosForms">
                        <label for="estado">Estado: *</label>
                        <input class="inputDados" type="text" name="estado" id="estado" required>
                        </div>
                    </form>
            </div>
        </div>
        <div class="segundaColuna">
            <div class="opcoesDeEntrega">
                <h3> <b> 3. OPÇÕES DE ENTREGA: </b></h3>
                    <hr>
                    <br>
                    
                    <form>
                        <label for="sedex"> SEDEX </label>
                        <input type="radio" name="frete" id="sedex" value="">
                        <p> Entrega de 2 a 5 dias úteis </p>
                        <br>
                        <hr>
                        <br>
                        <label for="retirada"> RETIRAR NA LOJA </label>
                        <input type="radio" name="frete" id="retirada">
                        <p> Retirar na loja - 4 dias úteis </p>
                    </form>
            </div>
            <div class="dadosPagamento">
                <h3> <b> 4. OPÇÕES DE PAGAMENTO </b></h3>
                    <hr>
                    <br>
                    
                    <form>
                        <label for="sedex"> CARTÃO DE CRÉDITO </label>
                        <input type="radio" name="frete" id="sedex" value="">
                        <br><br>
                            <div class="dadosForms">
                            <label for="cartao"> Número: * </label>
                            <input class="inputDados" type="number" name="cartao" id="cartao" required>
                            </div>
                            <br>
                            <div class="dadosForms">
                            <label for="validade"> Validade: *</label>
                            <input class="inputDados" type="number" name="validade" id="validade" required>
                            </div>
                            <br>
                            <div class="dadosForms">
                            <label for="cvv">CVV: *</label>
                            <input class="inputDados" type="number" name="cvv" id="cvv" required>
                            </div>
                            <br>
                            <div class="dadosForms">
                            <label for="titular"> Titular *</label>
                            <input class="inputDados" type="text" name="titular" id="titular" required>
                            </div>
                            <br>
                            <div class="dadosForms">
                            <label for="cpftitular">CPF: * </label>
                            <input class="inputDados" type="number" name="cpftitular" id="cpftitular" required>
                            </div>
                            <br>
                            <label for="sedex"> BOLETO BANCÁRIO </label>
                        <input type="radio" name="frete" id="sedex" value="">
                    </form>
            </div>
        </div>
        <div class="terceiraColuna">
            <div class="resumoDaCompra">
                <h3> <b> 5. RESUMO DO PEDIDO </b></h3>
                    <hr>
                    <br>
                    <div class="detalhesDoPedido">
                        <div>
                        <img width="130px" src="/images/imgCatalogo/5.jpg">
                        </div>
                        <div>
                        <a>Blusão sublimado urban - Brava </a>
                        <p> R$ 50,00</p>
                        </div>
                    </div>
                    <br>
                    <hr>
                    <form>
                        <div class="total"> 
                            <br>
                            <h3> TOTAL:</h3> 
                            <br>
                            <div class="valorDoPedido"> 
                            <p> VALOR DO PEDIDO: </p>
                            <p> R$ 50,00 </p> 
                            </div>
                            <div class="valorDoFrete"> 
                            <p> FRETE: </p>
                            <p> R$ 0,00 </p>
                            </div>
                            <div class="valorTotal"> 
                            <p> <b>VALOR TOTAL: </b></p>
                            <p> R$ 50,00 </p>
                            </div>
                        <br>
                        <hr>
                        <br>
                        
                        <button class="botaoFinalizar" type="submit"> <b> FINALIZAR COMPRA</b> </button>
                    </form>
            </div>
        </div>
    </div>

    <%- include("./partials/footer") %>

</body>
</html>