<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/paginaperfil.css" rel="stylesheet">
    <title>PERFIL</title>
</head>
<body>

    <%- include("./partials/header-mini") %>

    <div class="boxPrincipal"> 
        <div class="caixaBotoes">
            <h2> Olá,
            </h2>
            <br>
            <div class="caixaInicio"> 
                <a  class="caixinhaMenu"> PERFIL DO USUÁRIO </a>
            </div>
            <div class="caixaInformacoes">
                <a href="editar/32" class="caixinhaMenu"> EDITAR DADOS </a>
            </div>
            <div class="caixaInformacoes">
                <a class="caixinhaMenu"> SAIR </a>
            </div>
        </div>
    </div>
    <%- include("./partials/footer") %>
</body>
</html>