<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/perfil-dados.css" rel="stylesheet">
    <title>PERFIL</title>
</head>
<body>

    <%- include("./partials/header-mini") %>

    <div class="boxPrincipal"> 
        <div class="caixaBotoes">
            <h2> Olá, Usuário </h2>
            <br>
            <div class="caixaInicio"> 
                <a class="caixinhaMenu"> INÍCIO </a>
            </div>
            <div class="caixaPedidos">
                <a class="caixinhaMenu"> MEUS PEDIDOS </a>
            </div>
            <div class="caixaInformacoes"> 
                <a class="caixinhaMenu"> PERFIL DO USUÁRIO </a>
            </div>
            <div class="caixaEnderecos">
                <a class="caixinhaMenu"> MEUS ENDEREÇOS </a>
            </div>
            <div class="caixaSair">
                <a class="caixinhaMenu"> SAIR </a>
            </div>
        </div>
        <div class="caixaInfos">
            <div class="tituloUsuario">
                <h2> Informações da Conta </h2>
            </div>
        </div>
    </div>

    <%- include("./partials/footer") %>

</body>
</html>