<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/pg-produtos.css">
    <title>PG PRODUTOS</title>
</head>
    <body>
        <header class="cabecalho">
            <div class="hamburguer">
                <input type="checkbox" id="checkbox-menu">
                <label for="checkbox-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </label>
            </div>
            <div class="logo-header">
                <img src="../public/images/img-home/logo.png">
            </div>
            
            <div class="lupa">
                <img src="../public/images/img-home/LUPA.png" width=15px alt="">
                O QUE VOCÊ PROCURA
            </div>
            <div class="login">
            <div>
                ENTRE OU CADASTRE-SE
            </div>
            <div class="compras">
                <img src="../public/images/img-home/SACOLA DE COMPRAS.png" width=17px height=19px>
                <div>
                <p>Minha sacola</p>
                <p>0,00</p>
                </div>
            </div>
            </div>
        </header>
        <main>
            <div class="c-produtos">
                <section class="c-1">
                    <div class="caixas2">
                        <div class="detalhes-0">
                            <article><img class="detalhes" src="../public/images/img-produtos/Rectangle 7.5.png"></article>
                            <article><img class="detalhes" src="../public/images/img-produtos/Rectangle 7.2.png"></article>
                            <article><img class="detalhes" src="../public/images/img-produtos/Rectangle 7.3.png"></article>             
                        </div>
                        <div class= logo>
                            <img src="../public/images/img-produtos/Rectangle 7.png">
                        </div>
                    </div>
                </section>
                <section class="c-1">
                    <div>
                        <p class="letra-p">Menino/ 1-4 anos/Novidades</p>
                        <div class="descricao-pr">
                            <h2>JAQUETA MONSTRINHOS - DENGOS E CIA</h2>
                            <p class="letra-p">REF: 000000</p>
                        </div>
                        <div class="descricao-pr">
                            <H2>R$ 39,90</H2>
                        <h5>ATÉ 3X DE R$ 13,30</h5>
                        </div>
                        <div class="descricao-pr">
                            <p><h6>COR</h6></p>
                            <img class="quadrados" src="../public/images/img-produtos/Group 31.png">
                        </div>
                        <p class="descricao-pr"><h6>TAMANHO</h6></p>
                        <div>
                            <img class="quadrados" src="../public/images/img-produtos/Rectangle 8.png">
                            <img class="quadrados" src="../public/images/img-produtos/Rectangle 8.png">
                            <img class="quadrados" src="../public/images/img-produtos/Rectangle 8.png">
                            <img class="quadrados" src="../public/images/img-produtos/Rectangle 8.png">
                        </div>
                        <div>
                            <form>
                                <label>CALCULE O FRETE:</label>  
                                <input class="boton" type="number" placeholder="00000-00"></input>
                                <button type="submit">OK</button>
                            </form>
                            <p class="letra-p">Não sabe seu CEP?</p>
                        </div>    
                            <div class="quantidade">
                                <div >
                                    <p>QUANTIDADE</p>
                                    <img class="numero-q" src="../public/images/img-produtos/Component 5.png">
                                </div>
                                <div>
                                    <p>PREÇO TOTAL</p>
                                    <h2>R$ 39,90</h2>
                                </div>
                            </div>
                            <button class="venda" type="submit"><strong>COMPRE AGORA</strong></button> 
                        </div>    
                    </div>
                </section>
            </div>
            <div class="especificacao">
                <img src="../public/images/img-produtos/ESPECIFICAÇÕES TÉCNICAS.png">
                <img src="../public/images/img-produtos/Rectangle menos.png">
            </div>  
            <p class="minitext">Composição: 75% poliéster e 25% algodão.</p>
            <div class="fotos-esp">
                <img src="../public/images/img-produtos/Group 927 (1).png">
            </div>
            <div class="fotos-esp">
                <img class="tamanhos-roupas" src="../public/images/img-produtos/Group 938.png">
            </div>
            <section>
                <div class="produtos-adc">
                    <p>COMPRE JUNTO</p>
                    <div>
                        <img class="setas" src="../public/images/img-produtos/Group 10.2.png">
                        <img class="setas" src="../public/images/img-produtos/Group 10.2 (1).png">
                    </div>  
                </div>
                <div class="adicionais">
                    <article class="blocos">
                        <img class="fotos-art" src="../public/images/img-produtos/art1.png">
                        <div>
                            <p class="letra-p">BLUSÃO MENINO</p>
                            <p class="letra-m">BLUSÃO SUBLIMADO URBAN - BRAVA</p>
                            <p class="precos-art">R$29,90</p>
                        </div>
                    </article>
                    <article class="blocos">
                        <img class="fotos-art" src="../public/images/img-produtos/art2.png">
                        <div>
                            <p class="letra-p">BLUSÃO MENINO</p>
                            <p class="letra-m">BLUSÃO DINOSSAURO INTERATIVO - DENGOS E CIA</p>
                            <p class="precos-art">R$29,90</p>
                        </div>
                    </article>
                    <article class="blocos">
                        <img class="fotos-art" src="../public/images/img-produtos/art3.png">
                        <div>
                            <p class="letra-p">BLUSÃO CAPUZ MENINO</p>
                            <p class="letra-m">BLUSÃO CAPUZ E RECORTES BÁSICO - BRAVA</p>
                            <p class="precos-art">R$49,90</p>
                        </div>
                    </article>
                    <article class="blocos">
                        <img class="fotos-art" src="../public/images/img-produtos/art4.png">
                        <div>
                            <p class="letra-p">BLUSÃO MENINO</p>
                            <p class="letra-m">BLUSÃO CAPUZ E SILK MACACO - DENGOS E CIA</p>
                            <p class="precos-art">R$29,90</p>
                        </div>
                    </article>
                    <article class="blocos">
                        <img class="fotos-art" src="../public/images/img-produtos/art5.png">
                        <div>
                            <p class="letra-p">CALÇA MENINO</p>
                            <p class="letra-m">CALÇA RECORTES - BRAVA</p>
                            <p class="precos-art">R$29,90</p>
                        </div>
                    </article>
                </div>
            </section> 
        </main>
        <footer>
            <div class="rodape">
                <div class="caixa-fo1">
                    <img src="../public/images/img-home/logo.png">
                </div>
                <div class="caixa-fo2">
                    <p>INSTITUCIONAL</p>
                    <nav>
                        <ul class="textos">
                            <li>SOBRE A MIS</li>
                            <li>LOJA CONFIAVEL</li>
                            <li>POLITICA DE PRIVACIDADE</li>
                            <li>TERMOS DE USO</li>
                            <li>MAPA DO SITE</li>   
                        </ul>
                    </nav>
                </div>
                <div class="caixa-fo2">
                    <p>CENTRAL DE AJUDA</p>
                    <nav>
                        <ul class="textos">
                            <li>DÚVIDAS FREQUENTES</li>
                            <li>COMO COMPRAR</li>
                            <li>RASTREAR PEDIDO</li>
                            <li>2ª VÍA DO BOLETO</li>
                            <li>PAGAMENTO</li> 
                            <li>TROCAS E DEVOLUÇÕES</li>
                            <li>TABELA DE TAMANHOS</li>
                            <li>MEUS PEDIDOS</li>  
                        </ul>
                    </nav>
                </div>
                <div class="caixa-fo3">
                    <p>ATENDIMENTO</p>
                        <ul class="tex">
                            <li>SEGUNDA À QUINTA: 07:00 ÀS 17:00</li>
                            <li>SEXTA: 07:00 ÀS 16:00</li>
                        </ul>
                        <div class="logo-fo">
                            <img src="../public/images/img-home/Phone.png"> 
                            <p class="textos">0800 347 2347</p>
                        </div>
                        <div class="logo-fo">   
                            <img src="../public/images/img-home/Envelope.png">
                            <p class="textos">PRECISO DE AJUDA</p>
                        </div>
                        <div class="logo-redes">
                            <p>FIQUE CONECTADO COM A MIS</p>
                            <nav class="icones-redes">
                                <a href="https://www.facebook.com"><img src="../public/images/img-home/Facebook - Negative.png"></a>
                                <a href="https://www.instagram.com"><img src="../public/images/img-home/Instagram - Negative.png"></a>
                                <a href="https://www.linkedin.com"><img src="../public/images/img-home/LinkedIn - Negative.png"></a>
                                <a href="https://www.pinterest.com"><img src="../public/images/img-home/Pinterest - Negative.png"></a>
                                <a href="https://www.youtube.com"><img src="../public/images/img-home/YouTube - Negative.png"></a>
                            </nav>
                        </div>           
                </div>
                <div class="caixa-fo4">
                    <p>CERTIFICADOS</p>
                    <img src="../public/images/img-home/SELOS.png" width="55%">
                </div>
                <div class="caixa-fo4">
                    <p>FORMAS DE PAGAMENTO</p>
                    <img src="../public/images/img-home/CARTÕES.png" width="80%">
                    <form class="formulario">
                        <label>CADASTRE-SE PARA </label>
                        <input type="text" name="texto" id="texto" placeholder="SEU EMAIL AQUI">
                        <button type="submit">ENVIAR</button>
                    </form>
                </div>
            </div>
            <div>
            </div>
        </footer>
    </body>
