<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/pg-produtos.css">
    <title>PG PRODUTOS</title>
</head>
    <body>

        <%- include(./partials/header)%>
        
        <main>
            <div class="c-produtos">
                <section class="c-1">
                    <div class="caixas2">
                        <div class="detalhes-0">
                            <article><img class="detalhes" src="./img/Rectangle 7.5.png"></article>
                            <article><img class="detalhes" src="./img/Rectangle 7.2.png"></article>
                            <article><img class="detalhes" src="./img/Rectangle 7.3.png"></article>             
                        </div>
                        <div class= logo>
                            <img src="./img/Rectangle 7.png">
                        </div>
                    </div>
                </section>
                <section class="c-1">
                    <div>
                        <p class="letra-p">Menino/ 1-4 anos/Novidades</p>
                        <div class="descricao-pr">
                            <h2>JAQUETA MONSTRINHOS - DENGOS E CIA</h2>
                            <p class="letra-p">REF: 000000</p>
                        </div>
                        <div class="descricao-pr">
                            <H2>R$ 39,90</H2>
                        <h5>ATÉ 3X DE R$ 13,30</h5>
                        </div>
                        <div class="descricao-pr">
                            <p><h6>COR</h6></p>
                            <img class="quadrados" src="./img/Group 31.png">
                        </div>
                        <p class="descricao-pr"><h6>TAMANHO</h6></p>
                        <div>
                            <img class="quadrados" src="./img/Rectangle 8.png">
                            <img class="quadrados" src="./img/Rectangle 8.png">
                            <img class="quadrados" src="./img/Rectangle 8.png">
                            <img class="quadrados" src="./img/Rectangle 8.png">
                        </div>
                        <div>
                            <form>
                                <label>CALCULE O FRETE:</label>  
                                <input class="boton" type="number" placeholder="00000-00"></input>
                                <button type="submit">OK</button>
                            </form>
                            <p class="letra-p">Não sabe seu CEP?</p>
                        </div>    
                            <div class="quantidade">
                                <div >
                                    <p>QUANTIDADE</p>
                                    <img class="numero-q" src="./img/Component 5.png">
                                </div>
                                <div>
                                    <p>PREÇO TOTAL</p>
                                    <h2>R$ 39,90</h2>
                                </div>
                            </div>
                            <button class="venda" type="submit"><strong>COMPRE AGORA</strong></button> 
                        </div>    
                    </div>
                </section>
            </div>
            <div class="especificacao">
                <img src="./img/ESPECIFICAÇÕES TÉCNICAS.png">
                <img src="./img/Rectangle menos.png">
            </div>  
            <p class="minitext">Composição: 75% poliéster e 25% algodão.</p>
            <div class="fotos-esp">
                <img src="./img/Group 927 (1).png">
            </div>
            <div class="fotos-esp">
                <img class="tamanhos-roupas" src="./img/Group 938.png">
            </div>
            <section>
                <div class="produtos-adc">
                    <p>COMPRE JUNTO</p>
                    <div>
                        <img class="setas" src="./img/Group 10.2.png">
                        <img class="setas" src="./img/Group 10.2 (1).png">
                    </div>  
                </div>
                <div class="adicionais">
                    <article class="blocos">
                        <img class="fotos-art" src="./img/art1.png">
                        <div>
                            <p class="letra-p">BLUSÃO MENINO</p>
                            <p class="letra-m">BLUSÃO SUBLIMADO URBAN - BRAVA</p>
                            <p class="precos-art">R$29,90</p>
                        </div>
                    </article>
                    <article class="blocos">
                        <img class="fotos-art" src="./img/art2.png">
                        <div>
                            <p class="letra-p">BLUSÃO MENINO</p>
                            <p class="letra-m">BLUSÃO DINOSSAURO INTERATIVO - DENGOS E CIA</p>
                            <p class="precos-art">R$29,90</p>
                        </div>
                    </article>
                    <article class="blocos">
                        <img class="fotos-art" src="./img/art3.png">
                        <div>
                            <p class="letra-p">BLUSÃO CAPUZ MENINO</p>
                            <p class="letra-m">BLUSÃO CAPUZ E RECORTES BÁSICO - BRAVA</p>
                            <p class="precos-art">R$49,90</p>
                        </div>
                    </article>
                    <article class="blocos">
                        <img class="fotos-art" src="./img/art4.png">
                        <div>
                            <p class="letra-p">BLUSÃO MENINO</p>
                            <p class="letra-m">BLUSÃO CAPUZ E SILK MACACO - DENGOS E CIA</p>
                            <p class="precos-art">R$29,90</p>
                        </div>
                    </article>
                    <article class="blocos">
                        <img class="fotos-art" src="./img/art5.png">
                        <div>
                            <p class="letra-p">CALÇA MENINO</p>
                            <p class="letra-m">CALÇA RECORTES - BRAVA</p>
                            <p class="precos-art">R$29,90</p>
                        </div>
                    </article>
                </div>
            </section> 
        </main>

        <%- include("./partials/footer")%>
        
    </body>
