<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/pg-produtos.css">
    <title>PG PRODUTOS</title>
</head>

<body>

    <%- include("./partials/header") %>

        <main>
            <div class="c-produtos">
                <section class="c-1">
                    <div class="caixas2">
                        <div class=fotoPrincipal>
                            <img src="/images/img-produtos/produto10.webp">
                        </div>
                    </div>
                </section>
                <section class="c-1">
                    <div>
                        <a class="letra-p"> Menino / 1-3 anos/ Novidades </a>
                        <div class="descricao-pr">
                            <h2> REGATA COM CAPUZ PRETA </h2>
                            <p class="letra-p">REF: 000000 </p>
                        </div>
                        <div class="descricao-pr">
                            <h2>R$ 59,90</h2>
                            <h5> ATÉ 10X DE R$ 5,90 </h5>
                        </div>
                        <div>
                            <form>
                                <label for="tamanho">TAMANHO</label>
                                <select name="tamanho" id="tamanho">
                                    <option>Selecione</option>
                                    <option value="p">P</option>
                                    <option value="m">M</option>
                                    <option value="g">G</option>
                                </select>
                            </form>
                            <div>
                                <form>
                                    <label>CALCULE O FRETE:</label>
                                    <input class="boton" type="number" placeholder="00000-00"> </input>
                                    <button type="submit"> OK </button>
                                </form>
                            </div>
                            <div class="quantidade">
                                <div>
                                    <p>QUANTIDADE</p>
                                    <img class="numero-q" src="/img-produtos/Component 5.png">
                                </div>
                                <div>
                                    <p>PREÇO TOTAL</p>
                                    <h2>R$ 59,90</h2>
                                </div>
                            </div>
                            <button class="venda" type="submit"> <strong> COMPRE AGORA </strong> </button>
                        </div>
                    </div>
                </section>
            </div>
            <div class="especificacao">
                <h4> DETALHES DO PRODUTO: </h4>
            </div>
            <p class="minitext">Composição: 75% poliéster e 25% algodão.</p>
            <div class="fotos-esp">
                <h4> TABELA DE MEDIDAS: </h4>
                <br>
                <div>
                    <table class="tabelaMedidas">
                        <tr class="tabela-linha-cinza">
                            <th> TAMANHOS </th>
                            <td> P </td>
                            <td> M </td>
                            <td> G </td>
                        </tr>
                        <tr>
                            <th class="tabela-linha-branca"> BUSTO </td>
                            <td> 62 cm </td>
                            <td> 66 cm </td>
                            <td> 70 cm </td>
                        </tr>
                        <tr class="tabela-linha-cinza">
                            <th> COMPRIMENTO DA PEÇA </td>
                            <td> 38 cm </td>
                            <td> 40 cm </td>
                            <td> 42 cm </td>
                        </tr>
                        <tr>
                            <th class="tabela-linha-branca"> COMPRIMENTO DO BRAÇO </td>
                            <td> 34 cm </td>
                            <td> 36 cm </td>
                            <td> 38 cm </td>
                        </tr>
                    </table>
                </div>
            </div>
        </main>

        <%- include("./partials/footer") %>


</body>