<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/carrinho.css">
    <title>Carrinho</title>
</head>

<body>
    <%- include("./partials/headerLogado") %>
        <main>
            <section class="titulo-carrinho">
                <h1>MEU CARRINHO</h1>
            </section>
            <section class="produtosCarrinho">
                <div class="imagemProduto">
                    <img id="imagemProduto" src='/produto2.jpg'>
                </div>
                <div class="descricaoProduto">
                    <p>Camiseta </p>
                    <br>
                    <h3> Quantidade </h3>
                    <p> 0 </p>
                    <br>
                    <h3>Tamanho</h3>
                    <p> M </p>
                </div>
                <div class="precoProduto">
                    <p> R$ 00,00 </p>
                </div>
            </section>
            <div class="botoes">
                <form action="/esvazia-carrinho" method="POST">
                    <button type="submit">ESVAZIAR CARRINHO</button>
                </form>
                <a href="/produtos"> <button type="button"> CONTINUAR COMPRANDO </button> </a>
            </div>
            <section class="valorPedido">
                <article class="valorDoPedido">
                    <div class="totalDoPedido">
                        <h2>TOTAL: R$ 00,00</h2>
                    </div>
                    <a href="/checkout"> <button type="button"> FINALIZAR PEDIDO </button></a>
                </article>
            </section>
        </main>
        <%- include("./partials/footer") %>
</body>

</html>