@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@100 & display=swap');
*{
   margin:0;
   padding: 0;
   box-sizing: border-box;
}
.cabecalho{
   display:flex;
   background-color: black;
   justify-content: space-around;
   align-items: center;
   height: 80px;
   width: 100%;
}
.boxCadastro{
    font-family: Oswald;
    position: absolute;
    width: 700px;
    height: 600px;
    left: 50%;
    transform: translate(-50%, 20%);
    background-color: white;
    padding: 15px;
    border: 2px solid black;
    border-radius: 15px;
    color: black;
    font-size: 12px;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
}

legend{
    text-align: center;
    font-size: 15px;
}

.caixaCadastro{
    padding: 15px;
    border: 1px solid grey;
    height: 568px;
}

.inputDados{
    padding: 5px;
    width: 50%;
    height: 30px;
    font-size: 12px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}

.botaoCadastro{
    margin-top: 10px;
    padding: 7px;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    height: 50px;
    width: 50%;
}
.rodape{
    display: flex;
    justify-content: space-around;
    background-color: #202020;
    font-family: 'Oswald', sans-serif;
    color:white;
    height: 380px;
    width: 100%;
    line-height: 25px;
    font-size: 10px;
    margin-top:740px
}
 .textos{
    font-family: 'Roboto', sans-serif;
    color:rgba(130, 130, 130, 1);
    font-size:9px;
    list-style: none;
 }
 .tex{
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    color:rgba(130, 130, 130, 1);
 }
 .caixa-fo1{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px; 
    margin-top: 80px; 
    width: 9%;
 }
 .caixa-fo2{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-left: 15px;
    margin-right: 10px;
 }
 .caixa-fo3{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    align-items: center;
    margin-left: 20px;
 }
 .caixa-fo4{
    display: flex;
    flex-direction: column;
    margin-left: -30px;
    margin-top: 80px;
   align-items: center;
   width: 22%;
 }
 .logo-fo{
    display: flex;
    align-items: center;    
 }
 .logo-redes{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:20px
 }
 .formulario{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    align-items: center;
 }
 form input{
    width: 40%px;
    height: 23px;
    background-color: black;
    border: solid 1px white;
    margin-top: 15px;
 }
 form button{
    width: 80%;
    height: 23px;
    margin-top: 15px;

 }
