@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@100 & display=swap');


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.botao-ba{
    display: flex;
    background-color: rgb(93, 120, 255);
    width: 20%;
    font-family: 'Roboto', sans-serif;
    border: solid 1px black;
    margin-left: 750px;
    font-size: 15px;
    color:black;
    font-weight: bold; 
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-bottom: 60px;
    text-decoration: none;
    outline: none;
}

.links{
    color:black;
    text-decoration: none;
}
.botao-bi{
    display: flex;
    background-color: rgb(93, 120, 255);
    width: 20%;
    font-family: 'Roboto', sans-serif;
    border: solid 1px black;
    margin-left: 50px;
    font-size: 15px;
    color:black;
    font-weight: bold; 
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-bottom: 130px;
    text-decoration: none;
    outline: none;
}
.botao-bo{
    display: flex;
    background-color: rgb(93, 120, 255);
    width: 20%;
    font-family: 'Roboto', sans-serif;
    border: solid 1px black;
    margin-left: 620px;
    font-size: 15px;
    color:black;
    font-weight: bold; 
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-bottom: 150px;
    text-decoration: none;
    outline: none;
}

.botao-ba:hover, .botao-bi:hover, .botao-bo:hover{
    background-color: rgb(103, 128, 255);
}

.h3-bi{
    color:black;
    margin-left: -700px;
    margin-bottom: 9px;
    font-family:'Oswald', sans-serif;
   
}
.h3-ba{
    color:black;
    margin-left: 650px;
    margin-bottom: 9px;
    font-family:'Oswald', sans-serif;
}
.h3-bo{
    color:black;
    margin-left: 440px;
    margin-bottom: 9px;
    font-family:'Oswald', sans-serif;
}