@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@100 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    margin: 0px 5%;
    font-family: 'Roboto', sans-serif;
}

.titulo-carrinho{
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
    margin-top: 25px;
    margin-left: 5%;
}

.produtosCarrinho{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: auto;
    align-items: center;  
    margin-top: 35px;  
    margin-bottom: 50px;
    padding-bottom: 20px;
    border-top: solid 1px grey;
    border-bottom: solid 1px grey;
    margin-left: 5%;
}

.selectsCarrinho{
    height: 30px;
    border-radius: 10px;
    border: 2px solid black;    
}

#imagemProduto{
    margin-top: 30px;
    width: 100px;
    height: auto;
}

.descricaoProduto{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 40%;
    font-size: 17px;
}

.botoes{
    display: flex;
    width: 30%;
    justify-content: space-around;  
    margin-left: 50px;
}

button{
    width: 100%;
    background-color: rgb(93, 120, 255);
    height: 50px;
    border-radius: 10px;
    border: none;
    color: black;
    font-size: 12px;
    cursor: pointer;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    
}
button:hover{
    width: 100%;
    background-color: rgb(103, 128, 255);
    height: 50px;
    border-radius: 10px;
    border: none;
    color: black;
    cursor: pointer;
}

.valorPedido{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    height: auto;
    justify-content: flex-end;
    margin-top: 5%;
    margin-bottom: 5%;
}

.valorDoPedido{
    display: flex;
    flex-direction: column;    
    height: auto;
    margin-right: 15%;
}


.totalDoPedido{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 40px;
    margin-bottom: 5%;
    justify-content: space-between;
    font-size: 18px;
}

