*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.cabecalho{
    display:flex;
    background-color: black;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    width: 100%;

