@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@100 & display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.texto-banner{
    display: inline-block;
    position: absolute;
    margin-top: 160px;
    margin-left: 50px;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}
.botao-banner, .botao-banner2{
    display: flex;
    position: absolute;
    margin-top: 280px;
    background-color: rgb(93, 120, 255);
    /* background-color: rgb(255, 199, 94); */
    width: 13%;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    border: solid 1px black;
    margin-left: 50px;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    text-decoration: none;
    color:black;
    font-weight: bold;
    
}


.botao-banner2{
    background-color: rgb(93, 120, 255);
    
} 

.botao-banner:hover, .botao-banner2:hover{
    background-color: rgb(103, 128, 255);
}
.imag{
    margin-top: 15px;
}
/*CSS SECTION*/
.linksroupas{
    text-decoration: none;
    color: black
}
.subtitulo{
    margin-left:20px;
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
}
.fotosPecas{
    width: 80%;
    height: 240px;
    margin:10px
}
.banner{
    flex-direction: column;
    width: 200%;
    height: 350px;
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
}
.novidades{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 380px;
    
}
.linha1{
    display: flex;
    color: gray;
    font-size: 12px;
    margin-left:10px
}
.linha2{
    font-size: 16px;
    margin-left:10px;
    margin-top: 10px;
    font-weight: bold;
}
.preco{
    display: flex;
    align-items:flex-end;
    font-size: 16px;
    margin-left:10px
}
.caixa-quadro{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 405px;
    margin: 28px;
}
.quadro{
    display: flex;
    justify-content: space-between;
    margin:10px
}
.sobrepor{
    display: flex;
    justify-content: center;
    position: relative;
    right: 850px;
    width:100%;
    height: 200px;
    top: 65px
}

/*CSS SECTION 2 */

.caixa-quadro{
    display: flex;
    width: 95%;
    height: 290px;
    justify-content: center;
}
