@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@100 & display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Oswald', sans-serif;
}
body{
    background-image: linear-gradient(to right, rgb(195, 235, 255), rgb(146, 197, 255) );
   /* background-color: rgb(107, 105, 105); */
}

.box{
    width: 40%; 
    height: auto;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 15px;
    color: black;
    font-size: 15px;
    text-align: center;
    margin: 40px;
    margin-left: 450px;
}

form{
    display: flex;
    flex-direction: column;
}

legend{
    text-align: center;
    font-size: 18px;
}

.caixa1{
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.319);
    height: auto;
}

.caixa2{
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.319);
    height: auto;
}

.inputDados{
    padding: 5px;
    width: 70%;
    height: 30px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    background-color: white;
    outline: none;
    letter-spacing: 2px;
}

.botao{
    margin-top: 20px;
    padding: 7px;
    background-color: rgb(93, 120, 255);
    /* background-color: rgba(161, 87, 231, 0.71); */
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    height: 40px;
    width: 60%;
    border: none;
    font-family: 'Roboto', sans-serif;
}

.botao:hover{
    background-color: rgb(103, 128, 255);
}

#link{
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
}