@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@100 & display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Oswald', sans-serif;
}
body{
    background-image: linear-gradient(to right, rgb(25, 162, 186), rgb(24, 196, 227) );
   /* background-color: rgb(107, 105, 105); */
}

.box{
    width: 40%; 
    height: auto;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 15px;
    color: black;
    font-size: 15px;
    text-align: center;
    margin: 40px;
    margin-left: 450px;
}

form{
    display: flex;
    flex-direction: column;
}

legend{
    text-align: center;
    font-size: 18px;
}

.caixa1{
    padding: 15px;
    border: 1px solid rgb(0, 217, 255);
    height: auto;
}

.caixa2{
    padding: 15px;
    border: 1px solid rgb(0, 217, 255);
    height: auto;
}

.inputDados{
    padding: 5px;
    width: 70%;
    height: 30px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    background-color: rgb(81, 196, 202);
    outline: none;
    letter-spacing: 2px;
}

.botao{
    margin-top: 20px;
    padding: 7px;
    background-color: orange;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    height: 40px;
    width: 60%;
    border: none;
}

.botao:hover{
    padding: 7px;
    background:  rgb(255, 200, 99);
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    height: 40px;
    width: 60%;
    border: none;
}

#link{
    text-decoration: none;
    color: black
}