@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@100 & display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    font-family: Oswald;
    position: absolute;
    width: 500px;
    height: 600px;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: white;
    padding: 15px;
    border: 2px solid black;
    border-radius: 15px;
    color: black;
    font-size: 15px;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
}

legend{
    text-align: center;
    font-size: 20px;
}

.caixa1{
    padding: 15px;
    border: 1px solid grey;
    height: 350px;
}

.caixa2{
    padding: 15px;
    border: 1px solid grey;
    height: 190px;
}

.inputDados{
    padding: 5px;
    width: 70%;
    height: 30px;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}

.botaoEntrar{
    margin-top: 40px;
    padding: 7px;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    height: 50px;
    width: 70%;
}
.botaoCadastro{
    margin-top: 10px;
    padding: 7px;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    height: 50px;
    width: 70%;
}