@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@100 & display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.boxPrincipal{
    display: flex;
    border: 1px solid black;
    width: 100%;
    font-family: 'Oswald', sans-serif;
}
h2{
    padding: 15px;
}
.caixinhaMenu{
    font-family: 'Oswald', sans-serif;
    
}

.icon{
    width: 60%;
    height: 60px;
    margin-left: 19px;
   
}
.caixaBotoes{
    padding: 5px;  
    width: 30%;
}

.caixaInfos{
    padding: 5px;
    margin-left: 20px;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.caixaInicio{
    border: 2px solid gray;
    height: 60px;
    padding: 20px;
    color: grey;
}
.caixaInformacoes{
    border: 2px solid gray;
    height: 60px;
    padding: 20px;
    border-top: none;
    color: grey;
}

.blocos {
    border: 1px solid gray;
    height: 150px;
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.rodape{
    display: flex;
    justify-content: space-around;
    background-color: #202020;
    font-family: 'Oswald', sans-serif;
    color:white;
    height: 380px;
    width: 100%;
    line-height: 25px;
    font-size: 10px;
}
 .textos{
    font-family: 'Roboto', sans-serif;
    color:rgba(130, 130, 130, 1);
    font-size:9px;
    list-style: none;
 }
 .tex{
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    color:rgba(130, 130, 130, 1);
 }
 .caixa-fo1{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px; 
    margin-top: 80px; 
    width: 9%;
 }
 .caixa-fo2{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-left: 15px;
    margin-right: 10px;
 }
 .caixa-fo3{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    align-items: center;
    margin-left: 20px;
 }
 .caixa-fo4{
    display: flex;
    flex-direction: column;
    margin-left: -30px;
    margin-top: 80px;
    align-items: center;
    width: 22%;
 }
 .logo-fo{
    display: flex;
    align-items: center;    
 }
 .logo-redes{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:20px
 }
 .formulario{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    align-items: center;
 }
 form input{
    width: 40%px;
    height: 23px;
    background-color: black;
    border: solid 1px white;
    margin-top: 15px;
 }
 form button{
    width: 80%;
    height: 23px;
    margin-top: 15px;

 }




@media(max-width:610px){
    body{
        max-width: 100%;
    }
    .boxPrincipal{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .caixaBotoes{ 
        width: 100%;
        margin-top:10px;
        
    }
    .caixaInfos{
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .caixinhaMenu{
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
    }
    .caixaInformacoes{
        font-family: 'Oswald', sans-serif;
    }
    .rodape{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #202020;
        font-family: 'Oswald', sans-serif;
        color:white;
        height: 380px;
        width: 100%;
    }
     .caixa-fo1{
        display: flex;
        width: 20%;
        margin-top: -100px;
     }
     .caixa-fo2{
        display: none;
     }
     .caixa-fo3{
        display: flex;
        align-items: center;
        margin-top: -200px;
        
     }
     .caixa-fo4{
        display: none;
     }
     .logo-fo{
        display: none;    
     }
     .logo-redes{
        margin-top: 20px;
      
    }
}
