@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@100 & display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.boxPrincipal{
    display: flex;
    border: 1px solid black;
    width: 100%;
    font-family: 'Oswald', sans-serif;
}
h2{
    padding: 15px;
}
.caixinhaMenu{
    font-family: 'Oswald', sans-serif;
    color: grey;
    text-decoration: none;
}

.icon{
    width: 60%;
    height: 60px;
    margin-left: 19px;
   
}
.caixaBotoes{
    padding: 5px;  
    width: 30%;
}

.caixaInfos{
    padding: 5px;
    margin-left: 20px;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.caixaInicio{
    border: 2px solid gray;
    height: 60px;
    padding: 20px;
    color: grey;
}
.caixaInformacoes{
    border: 2px solid gray;
    height: 60px;
    padding: 20px;
    border-top: none;
    color: grey;
}

.blocos {
    border: 1px solid gray;
    height: 150px;
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}





@media(max-width:610px){
    body{
        max-width: 100%;
        background-color: orange;
    }
    h2{
        color: white;
    }
    .boxPrincipal{
        display: flex;
        border: 2px solid yellow;
        width: 100%;
        font-family: 'Oswald', sans-serif;
    }
    .caixaBotoes{ 
        width: 100%;
        margin-top:10px;
    }
    .caixinhaMenu{
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
    }
    .caixaInformacoes{
        font-family: 'Oswald', sans-serif;
    }
    .rodape{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #202020;
        font-family: 'Oswald', sans-serif;
        color:white;
        height: 380px;
        width: 100%;
    }
     .caixa-fo1{
        display: flex;
        width: 20%;
        margin-top: -100px;
     }
     .caixa-fo2{
        display: none;
     }
     .caixa-fo3{
        display: flex;
        align-items: center;
        margin-top: -200px;
        
     }/*
     .caixa-fo4{
        display: none;
     }
     .logo-fo{
        display: none;    
     }
     .logo-redes{
        margin-top: 20px;
      
    }
} 
}
/* } */}