@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@100 & display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.hamburguer{
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: -40px;
}
#checkbox-menu{
    position: absolute;
    opacity: 0;
}
header div label{
    cursor: pointer;
    position: relative;
    display:block;
    height: 22px;
    width: 30px;
}
header div label span{
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 30px;
    background-color: white;
    transition: 0,25s ease-in-out;
}
label span:nth-child(1){
    top:0;
}
label span:nth-child(2){
    top:8px;
}
label span:nth-child(3){
    top:16px;
}
#checkbox-menu:checked + label span:nth-child(1){
    transform: rotate(-45deg);
    top:8px;
}
#checkbox-menu:checked + label span:nth-child(2){ 
    opacity: 0;

}
#checkbox-menu:checked + label span:nth-child(3){
    transform: rotate(45deg);
    top:8px;
}
.cabecalho{
    display:flex;
    background-color: black;
    color: white;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    width: 100%;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
}
.lista{
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 20%;
}
.login{
    display: flex;
    flex-direction: row;
    width: 25%;
    justify-content: space-around;
    align-items: center;
}
.compras{
    display: flex;
    font-size: 10px;
}
.lupa{
    display:flex;
    align-items: center;
}

/*CSS MAIN */
.c-produtos{
    display: flex;
    flex-direction: row;
    width: 100%;
    ;
    justify-content:space-around;
}
.c-1{
    display: flex;
    justify-content: space-around; 
    width: 100%;
    margin: 20px;
    font-family: 'Oswald', sans-serif;
}
.caixas2{
    display: flex;
    width: 100%; 
}
.detalhes-0{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    align-content: space-between;
}
.detalhes{
    display: flex;
    width: 100%;
    margin-top:10px;
    height: 140px;
}  
.logo{
    display: flex;
    width: 90%;
    height: 450px;
    margin-left: 10px;
}
.textos-logo{
    display: flex;
    flex-direction: column;
    font-family: 'Oswald', sans-serif; 
}
.letra-p{
    font-size: 9px;
    color:gray;
    font-family: 'Oswald', sans-serif;
}
main section h5{
    font-size: 10px;
    color:gray;
}
.descricao-pr{
    margin-top: 10px;
}
.quadrados{
    width: 20px;
    margin-top: 5px;
}
form{
    font-family: 'Oswald', sans-serif;
    margin-top: 10px;
    font-size: 10px;
}
.boton{
    margin-left: 20px;
    width:90px;
    height: 20px;
    margin-top: 10px;
}
.quantidade{
    display: flex;   
    font-size: 10px;
    margin-top: 10px;
    margin-top: 20px;
    align-items: flex-start;
    justify-content: space-between;
    width: 50%;
}
.numero-q{
    width: 60px;
    margin-top: 5px;
}
.venda{
    display: flex;
    justify-content: center;
    margin-top:20px;
    width: 100%;
    height: 40px;
    align-items: center;
    background-color:rgba(19, 245, 14, 1);
}
.especificacao{
    display: flex;
    margin-left: 15px;
    margin-top:20px;
    margin-bottom:5px;
    align-items: center;
    justify-content: space-between;
    width: 35%;
}
.minitext{
    margin-left: 15px;
    font-family: 'Oswald', sans-serif;
}
.fotos-esp{
    margin-left: 15px;
    margin-top:40px;
}
.tamanhos-roupas{
    width: 40%;
    margin-bottom: 30px;
}
.produtos-adc{
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
}
main section .produtos-adc p{
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
}

.adicionais{
    margin-top: 15px;
    display: flex;
    margin-left: 15px;
    flex-direction: row;
    margin-bottom: 10px;
}
.blocos{
    width: 100%;
}
.fotos-art{
    width: 90%;
    height: 200px;
}
.letra-m{
font-size: 9.5px;
    color:black;
    font-family: 'Oswald', sans-serif;
}
.precos-art{
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
}