@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@100 & display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Oswald;
}

header{
    background-color: black;
    height: 123px;
    display: flex;
    align-items: center;

}

.caixaPrincipal{
    display: flex;
    justify-content: space-between;
}

.linhasItens{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    width: 300%;
    margin-top: 200px;
    margin-left: 50px;
    padding: 10px;
    font-size: 17px;
    color: grey;
    position: relative;
    max-width: 210%;
}

.primeiraLinha{
    display: flex;
    justify-content: space-between;
    border: 2px solid gray;
    width: 300%;
    margin-left: 50px;
    align-items: center;
    padding: 10px;
    font-size: 17px;
    max-width: 210%;
    position: relative;
}

.remover{
    background-color: yellow;
    border: 1px solid yellow;
    width: 20px;
    padding: 3px;
}

.classeBotao{
    position: relative;
    left: 185%;
    margin-top: 40px;
}

.botaoContinuarComprando{
    padding: 10px;
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
    color: grey;
    background-color: rgb(233, 229, 229);
    border: 1px solid gray;
}


.boxFinalizar{
    margin-top: 50px;
    margin-right: 50px;
    width: 25%;
    background-color: rgb(224, 224, 224);
    border: 1px solid black;
    padding: 10px;
    
}

.frete{
    padding: 20px;
    
}

.total{
    border-top: 1px solid black;
    margin-top: 20px;
    height: 100%;
    padding: 30px;
}

.valorDoPedido, .valorDoFrete, .valorTotal {
    display: flex;
    justify-content: space-between;
    padding: 5px ;
}

.valorTotal{
    font-size: 20px;
}


.botaoFinalizar{
    background-color: rgb(67, 255, 67);
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

.botaoConsultar{
    background-color: rgb(67, 255, 67);
    padding: 5px;
    border-radius: 5px;
}

.inputCep{
    font-size: 15px;
}

.preco1{
margin-left: 30%;
}

.total1{
    margin-right: 10% ;
}
