@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto:wght@300&display=swap');
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
}

.paginaPrincipal{
   width: 100%;
}

h2 {
   display: flex;
   width: 80%;
   height: 100px;
   align-items: center;
   margin: 40px ;
}

.caixaProdutos {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   width: 75%;
   margin-left: 70px;
   margin-bottom: 70px;
}

.fotosPecas {
   width: 250px;
   height: 300px;
}

.categoriaPeca {
   color: #BDBDBD;
   font-size: 11px;
   margin-bottom: 3px;
}

.nomePeca {
   color: black;
   font-size: 14px;
   margin-bottom: 5px;

}

article {
   margin-bottom: 50px;
}

.precoPeca {
   font-size: 16px;
   color: black;
}

.link{
   text-decoration: none;
}