@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto:wght@300&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.lista{
display: flex;
justify-content: space-between;
    font-weight: bold;
    width: 20%;
}


.sacola{
display:flex;
justify-content: space-between;
  font-size: 12px;  
 }

 .secao{
    margin-left: 21px;
    margin-top: 16px;
    font-family: 'Roboto', sans-serif;
    color: #828282;
 }

 .secoes{
     display:flex;
justify-content: space-between;
margin-left: 10px;
 }

 .checkbox{
    font-family: 'Roboto', sans-serif;
 }

 .filtro{
    display:flex;
    justify-content: space-between;
    font-family: 'Oswald', sans-serif;
    margin-left: 10px;
 }

 .titulofiltro{
    font-family: 'oswald', sans-serif;
 }

 select{
     width:150px;
     
 }

 .px{
    display:flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
    
 }

 .px2{
    display:flex;
    justify-content: space-between;
    width: 90%;
 }


.cxpai{
    display:flex;
    justify-content: space-around;
    margin-right: 10px; 
    font-family: 'oswald', sans-serif;
}

 .caixinhas{
     border:1px solid gray;
     width:30px;
     height:30px;
text-align: center;
padding: 5px;
margin-bottom: 2px;
margin-right: 2px;
 }

 

 .cxcores1{
    border:1px solid black;
    width:20px;
     height:20px;
     background-color: #292A2D;
     margin-bottom: 5px;
 }

 .cxcores2{
    border:1px solid black;
    width:20px;
     height:20px;
     background-color: #F3ECE2 ;
     margin-bottom: 5px;
 }

 .cxcores3{
    border:1px solid black;
    width:20px;
     height:20px;
     background-color: #24426A ;
     
 }



 .cxcores4{
    border:1px solid black;
    width:20px;
     height:20px;
     background-color: #18574A ;
     margin-bottom: 5px;
 }

 

 .cxcores5{
    border:1px solid black;
    width:20px;
     height:20px;
     background-color:#666689;
     margin-bottom: 5px;
 }

 .cxcores6{
    border:1px solid black;
    width:20px;
     height:20px;
     background-color: #C2BEB6 ;
 }

 .cxcores7{
    border:1px solid black;
    width:20px;
     height:20px;
     background-color: #AAABA7 ;
     margin-bottom: 5px;
 }

 .cxcores8{
    border:1px solid black;
    width:20px;
     height:20px;
     background-color: #971E34 ;
     margin-bottom: 5px;
 }

 .cxcores9{
    border:1px solid black;
    width:20px;
     height:20px;
     background-color: #CBA13E ;
 }

 .cxcores10{
    border:1px solid black;
    width:20px;
     height:20px;
     background-color: #73513C ;
     margin-bottom: 5px;
 }

 .cxcores11{
    border:1px solid black;
    width:20px;
     height:20px;
     background-color: #DAB1B1 ;
     margin-bottom: 5px;
 }

 .cxcores12{
    border:1px solid black;
    width:20px;
     height:20px;
     background-color: #2B9FA7 ;
 }

 .pecasPai{
    
display:flex;
flex-wrap: wrap;
justify-content: space-around;
width:80%;

 }
 .fotosPecas{
     width: 250px;
     height:300px;
 }

 .linha1{
font-family: 'Roboto', sans-serif;
color: #BDBDBD;
font-size: 8px;
font-weight: bold;
margin-bottom: 3px;
 }

 .linha2{
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 10px;
    margin-bottom:5px;
    
 }

 section article {
    margin-bottom: 10px;
 }

 .precosPecas{
font-family: 'Oswald', sans-serif; 

 }
 
